# Copyright (c) 2025 Seeed Technology Co., Ltd.
# SPDX-License-Identifier: Apache-2.0
config BOARD_MY_BOARD
	select SOC_NRF54L15_CPUAPP if BOARD_MY_BOARD_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_MY_BOARD_NRF54L15_CPUFLPR || \
		BOARD_MY_BOARD_NRF54L15_CPUFLPR_XIP
