# Copyright (c) 2025
# SPDX-License-Identifier: Apache-2.0

config BOARD_NEW_BOARD
	select SOC_NRF54L15_CPUAPP if BOARD_NEW_BOARD_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_NEW_BOARD_NRF54L15_CPUFLPR || \
		BOARD_NEW_BOARD_NRF54L15_CPUFLPR_XIP
